<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Z_HH_USER">
                    <!--    WsdlImporter ermittelte unerkannte Richtlinienassertionen in ServiceDescription "urn:sap-com:document:sap:soap:functions:mc-style":    -->
                    <!--    <wsdl:binding name='Z_HH_USER'>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                  <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                                       messageVersion="Soap11" writeEncoding="utf-8">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                                  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                  </textMessageEncoding>
                    <httpTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://i48lp1.informatik.tu-muenchen.de:8048/sap/bc/srt/rfc/sap/z_hh_user/902/z_hh_user/z_hh_user"
                binding="customBinding" bindingConfiguration="Z_HH_USER" contract="SapServiceReference.Z_HH_USER"
                name="Z_HH_USER" />
        </client>
    </system.serviceModel>
</configuration>